{% extends 'base.html' %}

{% block title %} Password Reset Sent {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 gy-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Password Reset Sent</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <p>Password reset was sent.</p>
                            <p>If an account exists with the email you entered, you will shortly receive an e-mail with the instructions for setting your password. </p>
                            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder. </p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'home_page' %}" class="btn btn-outline-primary">Back to home page.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

