{% extends 'base.html' %}

{% block title %} Password Reset {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 gy-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Password Reset</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <p>Forgotten your password?</p>
                            <p>Please enter your email address into the field below, and we’ll email instructions for setting a new one.</p>
                            {{ form }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-success">Password Reset</button>
                            <a href="{% url 'home_page' %}" class="btn btn-outline-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

