/*contact form*/

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contact-form .form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}

.contact-form .form-control:focus {
    border-color: #007bff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 123, 255, 0.6);
}

.contact-form button.btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: #007bff;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.contact-form button.btn:hover {
    background: #0056b3;
}

/*navbar*/

.navbar-nav .nav-link {
    color: white !important;
}
.navbar-brand {
    color: white !important;
}
.btn-outline-light {
    color: greenyellow !important;
    border-color: greenyellow !important;
}
.btn-outline-light:hover {
    color: #303030 !important;
    background-color: greenyellow !important;
}


/*filters*/

.radio-inline input[type="radio"] {
    margin-top: -1px;
    margin-right: 5px;
    vertical-align: middle;
}
.radio-inline label {
    display: inline-block;
    margin-right: 20px;
}

.bi.bi-star-fill {
    color: gold;
}

.bi.bi-star-half {
    color: gold;
}

.bi.bi-star {
    color: gold;
}

/*card title*/

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    flex: 1;
    min-height: 50px;
}
