{% extends 'base.html' %}

{% block title %}Your Cart{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card border-0 shadow">
                    <div class="card-header bg-dark-blue text-white">
                        <h4 class="text-center mb-0">Shopping Cart</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for cart_item in cart.cartitem_set.all %}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-md-2">
                                        <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" class="img-fluid rounded">
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="card-title">{{ cart_item.product.name }}</h5>
                                        <h6 class="card-title" style="color: orangered;">{{ cart_item.product.price }} RON</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-flex justify-content-end align-items-center">
                                            <form action="{% url 'update_cart_item' %}" method="post" class="form-inline">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id" value="{{ cart_item.product.id }}">
                                                <input type="hidden" name="quantity_change" value="-1">
                                                <button type="submit" class="btn btn-outline-danger btn-sm me-2">-</button>
                                            </form>
                                            <span class="badge bg-secondary">{{ cart_item.quantity }}</span>
                                            <form action="{% url 'update_cart_item' %}" method="post" class="form-inline">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id" value="{{ cart_item.product.id }}">
                                                <input type="hidden" name="quantity_change" value="1">
                                                <button type="submit" class="btn btn-outline-success btn-sm ms-2">+</button>
                                            </form>
                                            <form action="{% url 'remove_from_cart' %}" method="post" class="form-inline ms-4">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id" value="{{ cart_item.product.id }}">
                                                <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item text-center">Your cart is empty.</li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer bg-white">
                        <div class="text-center">
                            <h5 class="mb-3 text-crimson">Total: {{ total_price }} RON</h5>
                            <a href="{% url 'list-products' %}" class="btn btn-outline-primary btn-sm">Continue Shopping</a>
                            <form action="{% url 'clear_cart' %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm">Clear Cart</button>
                            </form>
                            <form action="{% url 'checkout' %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success btn-sm">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

