{% extends 'base.html' %}
{% load static %}
{% block title %} List of products{% endblock %}

{% block content %}
    <style>
        legend {
            font-size: 1rem !important;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 gy-5">
                <div class="card shadow-sm">
                    <div class="card-header text-white" style="background-color: #303030;">
                        <h3 class="text-center">Filters</h3>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            {{ filters }}
                        </div>
                        <div class="card-footer text-center bg-light">
                            <button type="submit" class="btn btn-success">Search</button>
                            <a href="{% url 'list-products' %}" class="btn btn-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-10 mb-5">
                <div class="row">
                    {% if all_products %}
                        {% for product in all_products %}
                            <div class="col-md-2 gy-5">
                                <div class="card">
                                    {% if product.image %}
                                        <img class="card-img-top" src="{{ product.image.url }}"
                                             alt="Product image"
                                             height="300">
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'images/image-not-found.jpg' %}"
                                             alt="Product not found image" height="300">
                                    {% endif %}
                                    {% if product.favorite %}
                                          <a href="{% url 'remove_favorite' product.id %}">Remove from Favorites</a>
                                    {% else %}
                                      <a href="{% url 'add_favorite' product.id %}">Add to Favorites</a>
                                    {% endif %}
                                    <div style="overflow-y: hidden; height: 300px">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ product.name }}</h5>
                                            <br>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="average-rating">
                                                        <span title="{{ product.average_rating }}/5">
                                                            {% if product.average_rating == 0 or product.average_rating is none %}
                                                                <i class="bi bi-star"></i> <i class="bi bi-star"></i> <i class="bi bi-star"></i> <i class="bi bi-star"></i> <i class="bi bi-star"></i> (No reviews yet)
                                                            {% else %}
                                                                {% for i in ""|rjust:product.full_stars %}
                                                                    <i class="bi bi-star-fill"></i>
                                                                {% endfor %}
                                                                {% if product.half_star %}
                                                                    <i class="bi bi-star-half"></i>
                                                                {% endif %}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="list-group-item"> Category: {{ product.category }}</li>
                                                <li class="list-group-item"
                                                    style="font-size: 16px; font-weight: bold; color: orangered">
                                                    Price: {{ product.price }} RON
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="card-footer d-flex justify-content-center">
                                            <div class="row">
                                                <div class="col text-center">
                                                    <a class="btn btn-danger mt-1"
                                                       href="{% url 'product-details' product.id %}"
                                                       style="font-size: 22px; padding: 1px 18px" title="Product Details"><i class="bi bi-clipboard-data"></i></a>
                                                </div>
                                                <div class="col text-center">
                                                    <form action="{% url 'add_to_cart' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                                        <input type="hidden" name="quantity" value="1">
                                                        <button type="submit" class="btn btn-success mt-1"
                                                                style="font-size: 22px; padding: 1px 18px" title="Add to Cart"><i
                                                                class="bi bi-cart-plus"></i></button>
                                                    </form>
                                                </div>
                                                <div class="col text-center">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle mt-1"
                                                                type="button"
                                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                                style="font-size: 22px; padding: 1px 10px" title="Edit">
                                                            <i class="bi bi-pencil-square"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item"
                                                                   href="{% url 'update-product' product.id %}">Update</a>
                                                            </li>
                                                            <li><a class="dropdown-item"
                                                                   href="{% url 'delete-product' product.id %}">Delete</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align: center;">
                                            <small class="text-muted">Created
                                                on: {{ product.created|date:"d-m-Y H:i:s" }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        No data available.
                    {% endif %}

                    <div style="display: flex; justify-content: center; margin-top: 40px;">
                        <div class="pagination" style="background-color: #f5f5f5; padding: 10px; border-radius: 5px;">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}