{% extends 'base.html' %}
{% load static %}
{% block title %} List of Favorite Products {% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h2 style="text-align: center; color: #0e3768">Your Favorite Products</h2>
        <br>
        <div class="row">
            {% for favorite in list_of_favorites %}
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card mb-4 shadow-sm" style="width: 100%; flex-direction: column;">
                        <img src="{{ favorite.product.image.url }}" alt="{{ favorite.product.name }}"
                             class="card-img-top" style="object-fit: cover; height: 400px;"> 
                        <div class="card-body d-flex flex-column"> 
                            <h5 class="card-title">{{ favorite.product.name }}</h5> 
                            <p> Price: {{ favorite.product.price }} RON </p>
                            <div class="average-rating" style="display: flex; justify-content: flex-start; align-items: center;">
                                <span title="{% if favorite.product.has_reviews %}{{ favorite.product.formatted_average_rating }} out of 5{% else %}No reviews yet{% endif %}">
                                    Average Rating:
                                    {% for i in "12345" %}
                                        {% if favorite.product.has_reviews and forloop.counter <= favorite.product.full_stars %}
                                            <i class="bi bi-star-fill"></i>
                                        {% elif favorite.product.has_reviews and forloop.counter == favorite.product.full_stars|add:"1" and favorite.product.half_star %}
                                            <i class="bi bi-star-half"></i>
                                        {% else %}
                                            <i class="bi bi-star"></i>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                {% if not favorite.product.has_reviews %}
                                    <span style="margin-left: 5px;">(No reviews yet)</span>
                                {% endif %}
                            </div>
                            <br>
                            <div class="mt-auto"> <!-- Push buttons to the bottom -->
                                <a href="{% url 'product-details' favorite.product.id %}"
                                   class="btn btn-sm btn-outline-success">View</a>
                                <a href="{% url 'remove_favorite' favorite.product.id %}"
                                   class="btn btn-sm btn-outline-danger">Remove from Favorites</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>You have no favorite products.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
