{% extends 'base.html' %}
{% load static %}
{% block title %} User Details{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 gy-5">
                <div class="card text-center">
                    <div class="card-header">
                        User Details
                    </div>
                    <div class="user-details">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h5 class="card-title">{{ siteuser.first_name }} {{ siteuser.last_name }}</h5></li>
{#                                <li class="list-group-item">Email: {{ siteuser.username }}</li>#}
                                <li class="list-group-item">Email: {{ siteuser.email }}</li>
                                <li class="list-group-item">Phone Number: {{ siteuser.phone_number }}</li>
                                <li class="list-group-item">City: {{ siteuser.city }}</li>
                                <li class="list-group-item">Address: {{ siteuser.address }}</li>
                                <li class="list-group-item">Active: {{ siteuser.is_active|yesno:"Yes, No" }}</li>
                                <li class="list-group-item">Date Joined : {{ siteuser.date_joined }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <p> Created at: {{ siteuser.date_joined|date:"d-m-Y H:i:s" }}</p>
                    </div>
                </div>
                <div style="text-align: center; margin-top:10px;">
                    <a href="{% url 'update_user' request.user.id %}" class="btn btn-primary">Update user details</a>
                    <a href="{% url 'profile_reset_password' request.user.id %}" class="btn btn-primary">Change password</a>
                    <a href="{% url 'delete_user' request.user.id %}" class="btn btn-primary">Delete account</a>
                    <a href="{% url 'home_page' %}" class="btn btn-primary">Back to home page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
